.card-container{
    margin-bottom: 8rem;
}
.card{
    width: 18%;
    padding: 0;
    border: 1px solid black;
}
.iconoFavorito{
    font-size: 1.5rem;
}
.iconoEliminarFavorito{
    font-size: 1.3rem;
}