.contenedorDetalles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
    width: 40%;
    padding: 0;
}
.imagenDetalles{
    width: 40%
}

.detallesSecundarios{
    display: flex;
    flex-direction: column;
}
.status{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
}
.spanDetalle{
    font-size: 1.1rem;
    color: white;
}
.text-white{
    font-size: 1.1rem;
    color: white
}
a:hover{
    color: orange;
    cursor: pointer;
}