#contenedor-footer{
    background-color: #242527;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 2px solid whitesmoke;
}
footer{
    width: 100%;
    padding-top: .9rem;
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
}
.span-gmail{
    margin-left: .3rem;
    font-size: .9rem;
    color: white;
}
h5{
    text-align: left;
    font-size: 1.2rem;
    color: lightgray;
    margin-bottom: .5rem;
}
form, ul{
    text-align: left;
}
p,li{
    color: lightgray;
    font-size: .9rem;
}
a{
    text-decoration: none; 
}
.footer-txt{
    text-align: center;
    color: grey;
    margin-top: 1rem;
    font-size: .8rem;
}