.container-bienvenida {
    text-align: center;
    padding: 50px;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-bienvenida {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
h1{
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
}

.imagen-titulo {
    width: 25%;
    margin-left: 1.2rem;
}

.imagen-bienvenida {
    max-width: 300px;
    margin: 20px 0;
}


.boton-bienvenida {
    padding: 10px 20px;
    font-size: 16px;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-bienvenida:hover {
    background-color: #21a1f1;
}