.navbar{
    background-color: white;
}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;

}
span{
    color: black;
    font-size: 2.3rem;
}

.imagenPerfil{
    width: 100px;
    margin-right: .6rem;
}

.active {
    color: black !important;
    font-weight: bold;
    border-bottom: 3px solid black;
}
    