.btnSave{
    width: 150px;
   
    border-radius: .5rem;
}
.btnCancel{
    width: 100px;
    font-size: 1rem;
    border-radius: .5rem;
    background-color: white;
    border: 1px solid lightgray;
    margin-left: 1rem;
}
.btnDelete{
    font-size: 1rem;
    border-radius: .5rem;
    background-color: rgb(209, 0, 0);
}