.container-inicio{
    padding: 50px;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2023/10/23/211613_1366205.jpg.1500x843_q95_crop-smart_upscale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sombreado{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.letra-negrita{
    font-weight: bold;
}
.tab-content{
    
    background-color: rgba(240, 240, 240, 0.8);
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding-bottom: .4rem;
    padding: 1rem;
  
}
.nav-link{
    font-size: 1.3rem;
}
.icono-login{
    width: 30%;
}
.icono-register{
    width: 30%;
}
.olvidar-contraseña{
    align-items: end;
}
.boton-submit{
    margin-top: .6rem;
    margin-bottom: .5rem;
}

